# IPL Data Analysis

### Import Python Packages

In [1]:
import pandas as pd               # pandas is a dataframe library
import matplotlib.pyplot as plt   # plots the data
import numpy as np                # provides N-dim object support

# do plotting inline instead of in a separate window
%matplotlib inline

### Match Data

In [2]:
match_cols = ['info', 'key', 'value']

In [3]:
match_df = pd.read_csv('1082650.csv', sep=',', names=match_cols, skiprows = 1, nrows = 18)

In [4]:
match_df.describe

<bound method NDFrame.describe of     info              key                                      value
0   info             team                             Mumbai Indians
1   info             team                     Rising Pune Supergiant
2   info           gender                                       male
3   info           season                                       2017
4   info             date                                 2017/05/21
5   info      competition                      Indian Premier League
6   info            venue  Rajiv Gandhi International Stadium, Uppal
7   info             city                                  Hyderabad
8   info      toss_winner                             Mumbai Indians
9   info    toss_decision                                        bat
10  info  player_of_match                                  KH Pandya
11  info           umpire                                   NJ Llong
12  info           umpire                                     S Ravi
13  info   reserve_umpire                             A Nand Kishore
14  info        tv_umpire                               AK Chaudhary
15  info    match_referee                                  J Srinath
16  info           winner                             Mumbai Indians
17  info      winner_runs                                          1>

In [5]:
for lab, row in match_df.iterrows():
    if row["key"] == "winner":
        print("Final Winner: " + row["value"])

Final Winner: Mumbai Indians

### First Innings Details

In [6]:
score_cols = ['ball', 'innings', 'over', 'batting_team', 'striker', 'non-striker', 'bowler', 'batsman_score', 'extras', 'wicket_pattern', 'out_batsman']

In [7]:
df = pd.read_csv('1082650.csv', sep=',', names=score_cols, skiprows = 19)

In [8]:
df.shape

(248, 11)

In [9]:
df.head(5)

,ball,innings,over,batting_team,striker,non-striker,bowler,batsman_score,extras,wicket_pattern,out_batsman
0,ball,1,0.1,Mumbai Indians,LMP Simmons,PA Patel,JD Unadkat,0,0,NaN,NaN
1,ball,1,0.2,Mumbai Indians,LMP Simmons,PA Patel,JD Unadkat,0,0,NaN,NaN
2,ball,1,0.3,Mumbai Indians,LMP Simmons,PA Patel,JD Unadkat,0,0,NaN,NaN
3,ball,1,0.4,Mumbai Indians,LMP Simmons,PA Patel,JD Unadkat,1,0,NaN,NaN
4,ball,1,0.5,Mumbai Indians,PA Patel,LMP Simmons,JD Unadkat,1,0,NaN,NaN

In [10]:
df.tail(5)

,ball,innings,over,batting_team,striker,non-striker,bowler,batsman_score,extras,wicket_pattern,out_batsman
243,ball,2,19.2,Rising Pune Supergiant,MK Tiwary,SPD Smith,MG Johnson,0,0,caught,MK Tiwary
244,ball,2,19.3,Rising Pune Supergiant,SPD Smith,DT Christian,MG Johnson,0,0,caught,SPD Smith
245,ball,2,19.4,Rising Pune Supergiant,Washington Sundar,DT Christian,MG Johnson,0,1,NaN,NaN
246,ball,2,19.5,Rising Pune Supergiant,DT Christian,Washington Sundar,MG Johnson,2,0,NaN,NaN
247,ball,2,19.6,Rising Pune Supergiant,DT Christian,Washington Sundar,MG Johnson,2,0,run out,Washington Sundar

In [11]:
df[df["innings"] == 1] # first innings data

,ball,innings,over,batting_team,striker,non-striker,bowler,batsman_score,extras,wicket_pattern,out_batsman
0,ball,1,0.1,Mumbai Indians,LMP Simmons,PA Patel,JD Unadkat,0,0,NaN,NaN
1,ball,1,0.2,Mumbai Indians,LMP Simmons,PA Patel,JD Unadkat,0,0,NaN,NaN
2,ball,1,0.3,Mumbai Indians,LMP Simmons,PA Patel,JD Unadkat,0,0,NaN,NaN
3,ball,1,0.4,Mumbai Indians,LMP Simmons,PA Patel,JD Unadkat,1,0,NaN,NaN
4,ball,1,0.5,Mumbai Indians,PA Patel,LMP Simmons,JD Unadkat,1,0,NaN,NaN
5,ball,1,0.6,Mumbai Indians,LMP Simmons,PA Patel,JD Unadkat,1,0,NaN,NaN
6,ball,1,1.1,Mumbai Indians,LMP Simmons,PA Patel,Washington Sundar,0,0,NaN,NaN
7,ball,1,1.2,Mumbai Indians,LMP Simmons,PA Patel,Washington Sundar,1,0,NaN,NaN
8,ball,1,1.3,Mumbai Indians,PA Patel,LMP Simmons,Washington Sundar,0,0,NaN,NaN
9,ball,1,1.4,Mumbai Indians,PA Patel,LMP Simmons,Washington Sundar,0,0,NaN,NaN
10,ball,1,1.5,Mumbai Indians,PA Patel,LMP Simmons,Washington Sundar,2,0,NaN,NaN
11,ball,1,1.6,Mumbai Indians,PA Patel,LMP Simmons,Washington Sundar,1,0,NaN,NaN
12,ball,1,2.1,Mumbai Indians,PA Patel,LMP Simmons,JD Unadkat,0,0,caught,PA Patel
13,ball,1,2.2,Mumbai Indians,AT Rayudu,LMP Simmons,JD Unadkat,0,0,NaN,NaN
14,ball,1,2.3,Mumbai Indians,AT Rayudu,LMP Simmons,JD Unadkat,1,0,NaN,NaN
15,ball,1,2.4,Mumbai Indians,LMP Simmons,AT Rayudu,JD Unadkat,0,0,caught and bowled,LMP Simmons
16,ball,1,2.5,Mumbai Indians,RG Sharma,AT Rayudu,JD Unadkat,0,0,NaN,NaN
17,ball,1,2.6,Mumbai Indians,RG Sharma,AT Rayudu,JD Unadkat,1,0,NaN,NaN
18,ball,1,3.1,Mumbai Indians,RG Sharma,AT Rayudu,Washington Sundar,0,0,NaN,NaN
19,ball,1,3.2,Mumbai Indians,RG Sharma,AT Rayudu,Washington Sundar,0,0,NaN,NaN
20,ball,1,3.3,Mumbai Indians,RG Sharma,AT Rayudu,Washington Sundar,1,0,NaN,NaN
21,ball,1,3.4,Mumbai Indians,AT Rayudu,RG Sharma,Washington Sundar,0,0,NaN,NaN
22,ball,1,3.5,Mumbai Indians,AT Rayudu,RG Sharma,Washington Sundar,0,0,NaN,NaN
23,ball,1,3.6,Mumbai Indians,AT Rayudu,RG Sharma,Washington Sundar,1,0,NaN,NaN
24,ball,1,4.1,Mumbai Indians,AT Rayudu,RG Sharma,SN Thakur,1,0,NaN,NaN
25,ball,1,4.2,Mumbai Indians,RG Sharma,AT Rayudu,SN Thakur,1,0,NaN,NaN
26,ball,1,4.3,Mumbai Indians,AT Rayudu,RG Sharma,SN Thakur,0,1,NaN,NaN
27,ball,1,4.4,Mumbai Indians,AT Rayudu,RG Sharma,SN Thakur,1,0,NaN,NaN
28,ball,1,4.5,Mumbai Indians,RG Sharma,AT Rayudu,SN Thakur,0,0,NaN,NaN
29,ball,1,4.6,Mumbai Indians,RG Sharma,AT Rayudu,SN Thakur,1,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95,ball,1,15.3,Mumbai Indians,MG Johnson,KH Pandya,DT Christian,0,0,NaN,NaN
96,ball,1,15.4,Mumbai Indians,MG Johnson,KH Pandya,DT Christian,1,0,NaN,NaN
97,ball,1,15.5,Mumbai Indians,KH Pandya,MG Johnson,DT Christian,2,0,NaN,NaN
98,ball,1,15.6,Mumbai Indians,KH Pandya,MG Johnson,DT Christian,1,0,NaN,NaN
99,ball,1,16.1,Mumbai Indians,KH Pandya,MG Johnson,JD Unadkat,0,2,NaN,NaN
100,ball,1,16.2,Mumbai Indians,KH Pandya,MG Johnson,JD Unadkat,0,0,NaN,NaN
101,ball,1,16.3,Mumbai Indians,KH Pandya,MG Johnson,JD Unadkat,1,0,NaN,NaN
102,ball,1,16.4,Mumbai Indians,MG Johnson,KH Pandya,JD Unadkat,1,0,NaN,NaN
103,ball,1,16.5,Mumbai Indians,KH Pandya,MG Johnson,JD Unadkat,0,0,NaN,NaN
104,ball,1,16.6,Mumbai Indians,KH Pandya,MG Johnson,JD Unadkat,2,0,NaN,NaN
105,ball,1,17.1,Mumbai Indians,MG Johnson,KH Pandya,DT Christian,0,0,NaN,NaN
106,ball,1,17.2,Mumbai Indians,MG Johnson,KH Pandya,DT Christian,6,0,NaN,NaN
107,ball,1,17.3,Mumbai Indians,MG Johnson,KH Pandya,DT Christian,1,0,NaN,NaN
108,ball,1,17.4,Mumbai Indians,KH Pandya,MG Johnson,DT Christian,1,0,NaN,NaN
109,ball,1,17.5,Mumbai Indians,MG Johnson,KH Pandya,DT Christian,0,1,NaN,NaN
110,ball,1,17.6,Mumbai Indians,KH Pandya,MG Johnson,DT Christian,4,0,NaN,NaN
111,ball,1,18.1,Mumbai Indians,MG Johnson,KH Pandya,JD Unadkat,1,0,NaN,NaN
112,ball,1,18.2,Mumbai Indians,KH Pandya,MG Johnson,JD Unadkat,0,0,NaN,NaN
113,ball,1,18.3,Mumbai Indians,KH Pandya,MG Johnson,JD Unadkat,1,0,NaN,NaN
114,ball,1,18.4,Mumbai Indians,MG Johnson,KH Pandya,JD Unadkat,1,0,NaN,NaN
115,ball,1,18.5,Mumbai Indians,KH Pandya,MG Johnson,JD Unadkat,6,0,NaN,NaN
116,ball,1,18.6,Mumbai Indians,KH Pandya,MG Johnson,JD Unadkat,1,0,NaN,NaN
117,ball,1,19.1,Mumbai Indians,KH Pandya,MG Johnson,DT Christian,0,1,NaN,NaN
118,ball,1,19.2,Mumbai Indians,KH Pandya,MG Johnson,DT Christian,0,0,NaN,NaN
119,ball,1,19.3,Mumbai Indians,KH Pandya,MG Johnson,DT Christian,4,0,NaN,NaN
120,ball,1,19.4,Mumbai Indians,KH Pandya,MG Johnson,DT Christian,0,1,NaN,NaN
121,ball,1,19.5,Mumbai Indians,KH Pandya,MG Johnson,DT Christian,6,0,NaN,NaN
122,ball,1,19.6,Mumbai Indians,KH Pandya,MG Johnson,DT Christian,1,0,NaN,NaN
123,ball,1,19.7,Mumbai Indians,MG Johnson,KH Pandya,DT Christian,1,0,NaN,NaN
124,ball,1,19.8,Mumbai Indians,KH Pandya,MG Johnson,DT Christian,0,0,caught,KH Pandya

In [12]:
df[df["innings"] == 1]["batsman_score"].sum() + df[df["innings"] == 1]["extras"].sum() # first innings score

129

In [13]:
df[df["innings"] == 1].groupby("striker").sum() #first innings score card

             innings   over  batsman_score  extras
striker
AT Rayudu         16   78.4             12       1
HH Pandya          9  110.3             10       0
KA Pollard         3   31.3              7       0
KH Pandya         41  574.9             47       5
KV Sharma          5   67.9              1       0
LMP Simmons        8    6.3              3       0
MG Johnson        14  230.0             13       1
PA Patel           6    8.4              4       0
RG Sharma         23  135.1             24       1

In [14]:
df_first_score = df[df["innings"] == 1].groupby("striker").sum() #first innings score card

In [15]:
df_first_score = df_first_score.reindex(["LMP Simmons", "PA Patel", "AT Rayudu", "RG Sharma", "KH Pandya", "KA Pollard", "HH Pandya", "KV Sharma", "MG Johnson", "JJ Bumrah", "SL Malinga"])

In [16]:
df_first_score

             innings   over  batsman_score  extras
striker
LMP Simmons      8.0    6.3            3.0     0.0
PA Patel         6.0    8.4            4.0     0.0
AT Rayudu       16.0   78.4           12.0     1.0
RG Sharma       23.0  135.1           24.0     1.0
KH Pandya       41.0  574.9           47.0     5.0
KA Pollard       3.0   31.3            7.0     0.0
HH Pandya        9.0  110.3           10.0     0.0
KV Sharma        5.0   67.9            1.0     0.0
MG Johnson      14.0  230.0           13.0     1.0
JJ Bumrah        NaN    NaN            NaN     NaN
SL Malinga       NaN    NaN            NaN     NaN

In [17]:
df[df["innings"] == 1].dropna()[["over", "striker", "bowler", "wicket_pattern"]].sort_values("over", ascending = True)

     over      striker        bowler     wicket_pattern
12    2.1     PA Patel    JD Unadkat             caught
15    2.4  LMP Simmons    JD Unadkat  caught and bowled
44    7.2    AT Rayudu   LH Ferguson            run out
63   10.1    RG Sharma       A Zampa             caught
68   10.6   KA Pollard       A Zampa             caught
82   13.2    HH Pandya  DT Christian                lbw
87   14.1    KV Sharma     SN Thakur            run out
124  19.8    KH Pandya  DT Christian             caught

In [18]:
df_first_wickets = df[df["innings"] == 1].dropna()[["over", "striker", "bowler", "wicket_pattern"]].sort_values("over", ascending = True)

In [19]:
df_first_score

             innings   over  batsman_score  extras
striker
LMP Simmons      8.0    6.3            3.0     0.0
PA Patel         6.0    8.4            4.0     0.0
AT Rayudu       16.0   78.4           12.0     1.0
RG Sharma       23.0  135.1           24.0     1.0
KH Pandya       41.0  574.9           47.0     5.0
KA Pollard       3.0   31.3            7.0     0.0
HH Pandya        9.0  110.3           10.0     0.0
KV Sharma        5.0   67.9            1.0     0.0
MG Johnson      14.0  230.0           13.0     1.0
JJ Bumrah        NaN    NaN            NaN     NaN
SL Malinga       NaN    NaN            NaN     NaN

In [20]:
df_first_wickets

     over      striker        bowler     wicket_pattern
12    2.1     PA Patel    JD Unadkat             caught
15    2.4  LMP Simmons    JD Unadkat  caught and bowled
44    7.2    AT Rayudu   LH Ferguson            run out
63   10.1    RG Sharma       A Zampa             caught
68   10.6   KA Pollard       A Zampa             caught
82   13.2    HH Pandya  DT Christian                lbw
87   14.1    KV Sharma     SN Thakur            run out
124  19.8    KH Pandya  DT Christian             caught

In [21]:
result1 = pd.merge(left = df_first_score, right = df_first_wickets, left_index = True, right_on = "striker", how = "outer")

In [22]:
result1.fillna(0, inplace = True)

In [23]:
result1[["striker", "batsman_score", "wicket_pattern", "bowler"]]

         striker  batsman_score     wicket_pattern        bowler
15   LMP Simmons            3.0  caught and bowled    JD Unadkat
12      PA Patel            4.0             caught    JD Unadkat
44     AT Rayudu           12.0            run out   LH Ferguson
63     RG Sharma           24.0             caught       A Zampa
124    KH Pandya           47.0             caught  DT Christian
68    KA Pollard            7.0             caught       A Zampa
82     HH Pandya           10.0                lbw  DT Christian
87     KV Sharma            1.0            run out     SN Thakur
124   MG Johnson           13.0                  0             0
124    JJ Bumrah            0.0                  0             0
124   SL Malinga            0.0                  0             0

### Second Innings Details

In [24]:
df[df["innings"] == 2] # second innings data

,ball,innings,over,batting_team,striker,non-striker,bowler,batsman_score,extras,wicket_pattern,out_batsman
125,ball,2,0.1,Rising Pune Supergiant,AM Rahane,RA Tripathi,KH Pandya,0,0,NaN,NaN
126,ball,2,0.2,Rising Pune Supergiant,AM Rahane,RA Tripathi,KH Pandya,1,0,NaN,NaN
127,ball,2,0.3,Rising Pune Supergiant,RA Tripathi,AM Rahane,KH Pandya,0,0,NaN,NaN
128,ball,2,0.4,Rising Pune Supergiant,RA Tripathi,AM Rahane,KH Pandya,0,0,NaN,NaN
129,ball,2,0.5,Rising Pune Supergiant,RA Tripathi,AM Rahane,KH Pandya,1,0,NaN,NaN
130,ball,2,0.6,Rising Pune Supergiant,AM Rahane,RA Tripathi,KH Pandya,4,0,NaN,NaN
131,ball,2,1.1,Rising Pune Supergiant,RA Tripathi,AM Rahane,MG Johnson,0,0,NaN,NaN
132,ball,2,1.2,Rising Pune Supergiant,RA Tripathi,AM Rahane,MG Johnson,1,0,NaN,NaN
133,ball,2,1.3,Rising Pune Supergiant,AM Rahane,RA Tripathi,MG Johnson,1,0,NaN,NaN
134,ball,2,1.4,Rising Pune Supergiant,RA Tripathi,AM Rahane,MG Johnson,1,0,NaN,NaN
135,ball,2,1.5,Rising Pune Supergiant,AM Rahane,RA Tripathi,MG Johnson,1,0,NaN,NaN
136,ball,2,1.6,Rising Pune Supergiant,RA Tripathi,AM Rahane,MG Johnson,0,4,NaN,NaN
137,ball,2,2.1,Rising Pune Supergiant,AM Rahane,RA Tripathi,JJ Bumrah,3,0,NaN,NaN
138,ball,2,2.2,Rising Pune Supergiant,RA Tripathi,AM Rahane,JJ Bumrah,0,0,lbw,RA Tripathi
139,ball,2,2.3,Rising Pune Supergiant,SPD Smith,AM Rahane,JJ Bumrah,1,0,NaN,NaN
140,ball,2,2.4,Rising Pune Supergiant,AM Rahane,SPD Smith,JJ Bumrah,3,0,NaN,NaN
141,ball,2,2.5,Rising Pune Supergiant,SPD Smith,AM Rahane,JJ Bumrah,0,0,NaN,NaN
142,ball,2,2.6,Rising Pune Supergiant,SPD Smith,AM Rahane,JJ Bumrah,0,0,NaN,NaN
143,ball,2,3.1,Rising Pune Supergiant,AM Rahane,SPD Smith,SL Malinga,1,0,NaN,NaN
144,ball,2,3.2,Rising Pune Supergiant,SPD Smith,AM Rahane,SL Malinga,0,0,NaN,NaN
145,ball,2,3.3,Rising Pune Supergiant,SPD Smith,AM Rahane,SL Malinga,1,0,NaN,NaN
146,ball,2,3.4,Rising Pune Supergiant,AM Rahane,SPD Smith,SL Malinga,0,0,NaN,NaN
147,ball,2,3.5,Rising Pune Supergiant,AM Rahane,SPD Smith,SL Malinga,0,0,NaN,NaN
148,ball,2,3.6,Rising Pune Supergiant,AM Rahane,SPD Smith,SL Malinga,0,0,NaN,NaN
149,ball,2,4.1,Rising Pune Supergiant,SPD Smith,AM Rahane,KV Sharma,1,0,NaN,NaN
150,ball,2,4.2,Rising Pune Supergiant,AM Rahane,SPD Smith,KV Sharma,1,0,NaN,NaN
151,ball,2,4.3,Rising Pune Supergiant,SPD Smith,AM Rahane,KV Sharma,0,0,NaN,NaN
152,ball,2,4.4,Rising Pune Supergiant,SPD Smith,AM Rahane,KV Sharma,0,1,NaN,NaN
153,ball,2,4.5,Rising Pune Supergiant,SPD Smith,AM Rahane,KV Sharma,1,0,NaN,NaN
154,ball,2,4.6,Rising Pune Supergiant,AM Rahane,SPD Smith,KV Sharma,4,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
218,ball,2,15.1,Rising Pune Supergiant,MS Dhoni,SPD Smith,KH Pandya,1,0,NaN,NaN
219,ball,2,15.2,Rising Pune Supergiant,SPD Smith,MS Dhoni,KH Pandya,1,0,NaN,NaN
220,ball,2,15.3,Rising Pune Supergiant,MS Dhoni,SPD Smith,KH Pandya,4,0,NaN,NaN
221,ball,2,15.4,Rising Pune Supergiant,MS Dhoni,SPD Smith,KH Pandya,1,0,NaN,NaN
222,ball,2,15.5,Rising Pune Supergiant,SPD Smith,MS Dhoni,KH Pandya,6,0,NaN,NaN
223,ball,2,15.6,Rising Pune Supergiant,SPD Smith,MS Dhoni,KH Pandya,1,0,NaN,NaN
224,ball,2,16.1,Rising Pune Supergiant,SPD Smith,MS Dhoni,JJ Bumrah,1,0,NaN,NaN
225,ball,2,16.2,Rising Pune Supergiant,MS Dhoni,SPD Smith,JJ Bumrah,0,0,caught,MS Dhoni
226,ball,2,16.3,Rising Pune Supergiant,MK Tiwary,SPD Smith,JJ Bumrah,1,0,NaN,NaN
227,ball,2,16.4,Rising Pune Supergiant,SPD Smith,MK Tiwary,JJ Bumrah,1,0,NaN,NaN
228,ball,2,16.5,Rising Pune Supergiant,MK Tiwary,SPD Smith,JJ Bumrah,0,0,NaN,NaN
229,ball,2,16.6,Rising Pune Supergiant,MK Tiwary,SPD Smith,JJ Bumrah,0,0,NaN,NaN
230,ball,2,17.1,Rising Pune Supergiant,SPD Smith,MK Tiwary,SL Malinga,0,0,NaN,NaN
231,ball,2,17.2,Rising Pune Supergiant,SPD Smith,MK Tiwary,SL Malinga,1,0,NaN,NaN
232,ball,2,17.3,Rising Pune Supergiant,MK Tiwary,SPD Smith,SL Malinga,1,0,NaN,NaN
233,ball,2,17.4,Rising Pune Supergiant,SPD Smith,MK Tiwary,SL Malinga,0,0,NaN,NaN
234,ball,2,17.5,Rising Pune Supergiant,SPD Smith,MK Tiwary,SL Malinga,4,0,NaN,NaN
235,ball,2,17.6,Rising Pune Supergiant,SPD Smith,MK Tiwary,SL Malinga,1,0,NaN,NaN
236,ball,2,18.1,Rising Pune Supergiant,SPD Smith,MK Tiwary,JJ Bumrah,1,0,NaN,NaN
237,ball,2,18.2,Rising Pune Supergiant,MK Tiwary,SPD Smith,JJ Bumrah,1,0,NaN,NaN
238,ball,2,18.3,Rising Pune Supergiant,SPD Smith,MK Tiwary,JJ Bumrah,1,0,NaN,NaN
239,ball,2,18.4,Rising Pune Supergiant,MK Tiwary,SPD Smith,JJ Bumrah,0,1,NaN,NaN
240,ball,2,18.5,Rising Pune Supergiant,SPD Smith,MK Tiwary,JJ Bumrah,6,0,NaN,NaN
241,ball,2,18.6,Rising Pune Supergiant,SPD Smith,MK Tiwary,JJ Bumrah,2,0,NaN,NaN
242,ball,2,19.1,Rising Pune Supergiant,MK Tiwary,SPD Smith,MG Johnson,4,0,NaN,NaN
243,ball,2,19.2,Rising Pune Supergiant,MK Tiwary,SPD Smith,MG Johnson,0,0,caught,MK Tiwary
244,ball,2,19.3,Rising Pune Supergiant,SPD Smith,DT Christian,MG Johnson,0,0,caught,SPD Smith
245,ball,2,19.4,Rising Pune Supergiant,Washington Sundar,DT Christian,MG Johnson,0,1,NaN,NaN
246,ball,2,19.5,Rising Pune Supergiant,DT Christian,Washington Sundar,MG Johnson,2,0,NaN,NaN
247,ball,2,19.6,Rising Pune Supergiant,DT Christian,Washington Sundar,MG Johnson,2,0,run out,Washington Sundar

In [25]:
df[df["innings"] == 2]["batsman_score"].sum() + df[df["innings"] == 1]["extras"].sum() # second innings score

127

In [26]:
df[df["innings"] == 2].groupby("striker").sum() #second innings score card

                   innings   over  batsman_score  extras
striker
AM Rahane               76  234.7             44       0
DT Christian             4   39.1              4       0
MK Tiwary               16  141.6              7       1
MS Dhoni                26  181.9             10       0
RA Tripathi             16    8.7              3       4
SPD Smith              106  582.7             51       3
Washington Sundar        2   19.4              0       1

In [27]:
df_second_score = df[df["innings"] == 2].groupby("striker").sum() #second innings score card

In [28]:
df_second_score = df_second_score.reindex(["AM Rahane", "RA Tripathi", "SPD Smith", "MS Dhoni", "MK Tiwary", "DT Christian", "Washington Sundar", "LH Ferguson", "SN Thakur", "JD Unadkat", "A Zampa"])

In [29]:
df_second_score

                   innings   over  batsman_score  extras
striker
AM Rahane             76.0  234.7           44.0     0.0
RA Tripathi           16.0    8.7            3.0     4.0
SPD Smith            106.0  582.7           51.0     3.0
MS Dhoni              26.0  181.9           10.0     0.0
MK Tiwary             16.0  141.6            7.0     1.0
DT Christian           4.0   39.1            4.0     0.0
Washington Sundar      2.0   19.4            0.0     1.0
LH Ferguson            NaN    NaN            NaN     NaN
SN Thakur              NaN    NaN            NaN     NaN
JD Unadkat             NaN    NaN            NaN     NaN
A Zampa                NaN    NaN            NaN     NaN

In [30]:
df[df["innings"] == 2].dropna()[["over", "striker", "bowler", "wicket_pattern"]].sort_values("over", ascending = True)

     over       striker      bowler wicket_pattern
138   2.2   RA Tripathi   JJ Bumrah            lbw
197  11.5     AM Rahane  MG Johnson         caught
225  16.2      MS Dhoni   JJ Bumrah         caught
243  19.2     MK Tiwary  MG Johnson         caught
244  19.3     SPD Smith  MG Johnson         caught
247  19.6  DT Christian  MG Johnson        run out

In [31]:
df_second_wickets = df[df["innings"] == 2].dropna()[["over", "striker", "bowler", "wicket_pattern"]].sort_values("over", ascending = True)

In [32]:
df_second_wickets

     over       striker      bowler wicket_pattern
138   2.2   RA Tripathi   JJ Bumrah            lbw
197  11.5     AM Rahane  MG Johnson         caught
225  16.2      MS Dhoni   JJ Bumrah         caught
243  19.2     MK Tiwary  MG Johnson         caught
244  19.3     SPD Smith  MG Johnson         caught
247  19.6  DT Christian  MG Johnson        run out

In [33]:
result2 = pd.merge(left = df_second_score, right = df_second_wickets, left_index = True, right_on = "striker", how = "outer")

In [34]:
result2.fillna(0, inplace = True)

In [35]:
result2[["striker", "batsman_score", "wicket_pattern", "bowler"]]

               striker  batsman_score wicket_pattern      bowler
197          AM Rahane           44.0         caught  MG Johnson
138        RA Tripathi            3.0            lbw   JJ Bumrah
244          SPD Smith           51.0         caught  MG Johnson
225           MS Dhoni           10.0         caught   JJ Bumrah
243          MK Tiwary            7.0         caught  MG Johnson
247       DT Christian            4.0        run out  MG Johnson
247  Washington Sundar            0.0              0           0
247        LH Ferguson            0.0              0           0
247          SN Thakur            0.0              0           0
247         JD Unadkat            0.0              0           0
247            A Zampa            0.0              0           0